body {
	text-align: center;
	background-color: rgb(240,240,240);
	color: black;
}

/* Nav */
nav {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(30,30,30);
	color: white;
	width: 300px;
	height: 100%;
	text-align: left;
	overflow: hidden;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	color: white;
	font-weight: bold;
}

/* Section */

.section {
	display: inline-block;
	width: 1000px;
	height: 100%;
	margin: auto;
	text-align: center;
}