body {
	text-align: left;
	background-color: rgb(240,240,240);
	color: black;
}

/* Section */

#dashBoard .section {
	margin-left: 30%;
	padding: 0 3%;
	width: 60%;
	height: 100%;
}

#deconnect {
	background-color: transparent;
	line-height: 25px;
	border: 0;
}