body {
	text-align: center;
	background-color: rgb(240,240,240);
	color: black;
}

/* Section */

.section {
	display: inline-block;
	width: 1000px;
	height: 100%;
	margin: auto;
	text-align: center;
}