/* thumbnail */
.thumbnail {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 205px;
	border-radius: 4px;
	margin: 10px;
	padding: 0;
	border: 0;
	text-align: left;
	background-color: white;
	vertical-align: middle;

	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	
	transition: box-shadow 0.1s, width 0.1s, height 0.1s, margin 0.1s;
}

.thumbnail .top {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
	background-color: #3A5199;
	color: white;
}

.thumbnail .top .title {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding-left: 10px;
	font-weight: bold;
	font-size: 30px;
}

.thumbnail .top img {
	float: right;
	height: 50px;
	width: 50px;
}

.thumbnail .promo {
	position: absolute;
	right: -10px;
	top: 80px;
	padding: 2px;
	border-radius: 4px;
	display: block;
	background-color: rgb(0, 255, 255);
	color: black;
	border: 1px solid rgb(0, 200, 200);
}

/* tags */
.thumbnail .tags {
	position: relative;
	display: block;
	width: 250px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.thumbnail .wrapper {
	position: relative;
	display: block;
	width: 210px;
	overflow: hidden;
	background-color:  white;
}

.thumbnail .tags .points {
	position: absolute;
	top: 0;
	right: -40px;
	display: block;
	background-color: rgb(150,150,150);
	height: 15px;
	line-height: 0px;
	font-size: 22px;
	padding: 0 4px;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 4px;
	color: white;
	border: 1px rgb(100,100,100) solid;
}

.tag {
	display: inline-block;
	height: 15px;
	line-height: 15px;
	font-size: 10px;
	border-radius: 4px;
	margin: 1px 1px;
	margin-left: 10px;
	padding: 0 4px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.tag+.tag {
	margin-left: 5px;
}

/* data */
.thumbnail .middle p {
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
	padding-left: 10px;
}

/* thumbnail hover */

.thumbnail:hover {
	cursor: pointer;

	-moz-box-shadow: 0px 0px 10px 0px #656565;
	-webkit-box-shadow: 0px 0px 10px 0px #656565;
	-o-box-shadow: 0px 0px 10px 0px #656565;
	box-shadow: 0px 0px 10px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);

	transition: box-shadow 0.1s;
}

.thumbnail:active {
	cursor: pointer;

	-moz-box-shadow: 0px 0px 5px 2px #656565;
	-webkit-box-shadow: 0px 0px 3px 2px #656565;
	-o-box-shadow: 0px 0px 5px 2px #656565;
	box-shadow: 0px 0px 5px 2px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);

	transition: box-shadow 0.1s;
}