.sideMenu {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 20%;
    list-style-type: none;
    background-color: #3A5199;
    margin: 0;
    padding: 50px 0;
    color: white;
}

.sideMenu h1 {
    height: 50px;
    position: absolute;
    top: 7px;
    left: 0;
    left: 10px;
}

.sideMenu ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    background-color: rgb(30,30,30);
    padding: 50px 0;
}
.sideMenu li{
    background-color: rgb(50,50,50);
    border-top: #3A5199 1px solid;
    border-bottom: #3A5199 1px solid;
}

.sideMenu li + li {
    border-bottom: #3A5199 1px solid;
    border-top: 0;
}


.sideMenu li a {
    height: 60px;
    display: block;
    line-height: 40px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  
  /* Change the link color on hover */
.sideMenu li a:hover {
    background-color: #3A5199;
    text-decoration: none;
    color: white;
}

.sideMenu .active, .active:hover {
    background-color: rgb(31, 53, 121);
}